<div class="container">
    <div class="details">
        <h1>Student Data</h1>
        <div class="stdDetails"> <p>Id:&nbsp; </p> <span>{{std?.id}}</span> </div>
        <div class="stdDetails"> <p>Name:&nbsp;</p> <span>{{std?.name}}</span></div>
        <div class="stdDetails"> <p>Age:&nbsp;</p> <span>{{std?.age}}</span> </div>
        <h2>Delete Student?</h2>
        <a class="btn" (click)="Delete()">Delete</a>
        <a class="link" [routerLink]="['/students']">Back to list</a>   
    </div>
</div>
